$sans: 'Raleway', 'Arial', sans-serif;
$serif: 'Cormorant Infant', 'Times New Roman', serif;
$tablet: 1199px;
$mob: 767px;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-family: $sans;
  font-size: 14px;
  line-height: 22px;
  color: $dark-green;
  background-image:
    url(img/bg-2.png),
    url(img/bg.png);
  background-repeat: no-repeat;
  background-position: top;

  @media (max-width: $mob) {
    background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(234,238,239,1) 100%);

  }
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  text-decoration: none;
  outline: none;
  border: none;
  background: transparent;

  cursor: pointer;
}

.container {
  width: 1180px;
  max-width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.overlay {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.15);
    @media (max-width: $mob) {
      display: none;
    }
  }


}
