.header {
  padding: 0 60px;
  display: flex;
  align-items: center;

  @media (max-width: $tablet) {
    padding: 0 15px;
    padding-top: 15px;
  }

  @media (max-width: $mob) {
    padding-top: 0;
  }

}

.header__nav-toggle {
  display: none;
  @media (max-width: $tablet) {
    position: relative;
    z-index: 99;
    display: block;
  }
}

.header__logo {
  margin-top: 35px;
  @media (max-width: $tablet) {
    margin-right: auto;
    margin-top: 0;
    margin-left: auto;
    position: relative;
    z-index: 99;
  }
  @media (max-width: $mob) {
    width: 57px;
  }
}

.header__nav {
  margin-top: 70px;
  margin-left: auto;
  @media (max-width: $tablet) {
    display: none;
    position: absolute;
    background: #fff;
    width: 95%;
    z-index: 9;
    top: 0;
    margin: 0;
    margin-left: -15px;
    padding: 35px;
    padding-top: 90px;
    box-shadow: 4px 4px 20px #E3E3E3;
    border-radius: 0px 10px 10px 0px;
    &--shown {
      display: block;
    }
  }
}

.header__info {
  display: flex;
  align-items: center;
  margin-top: 48px;
  margin-left: 5.5%;
  @media (max-width: $tablet) {
    margin: 0;
  }
}

.header__cart {
  margin-left: 75px;
  @media (max-width: $tablet) {
    margin: 0;
    margin-left: 10px;
  }
}
