.toggle {
  position: relative;
  width: 37px;
  height: 37px;
  &::after {
    content: '';
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    width: 25px;
    height: 2px;
    background: $dark-green;
    box-shadow: 0 6px $dark-green,
                0 12px $dark-green;
  }

  &--close {
    &::before {
      content: '';
      position: absolute;
      left: 6px;
      top: 50%;
      transform: rotate(-45deg);
      width: 25px;
      height: 2px;
      background: $dark-green;
      border-radius: 4px;
    }
    &::after {
      box-shadow: none;
      left: 6px;
      top: 50%;
      transform: rotate(45deg);
      border-radius: 4px;
    }
  }
}
