.tooltip {
  font-family: 'Arial', sans-serif;
}

.tooltip__icon {
  width: 31px;
  height: 31px;

  @media (max-width: 1290px) {
    display: none;
  }

  &--item {
    margin-right: 5px;
    fill: $white;
    width: 22px;
    height: 22px;
    @media (max-width: 1290px) {
      display: block;
      width: 12px;
      height: 12px;
      fill: $dark-green;
    }
  }
}

.tooltip__dropdown {
  display: none;
  position: absolute;
  left: -90px;
  margin-top: 5px;
  z-index: 2;

  width: 220px;
  justify-content: center;
  padding: 28px;

  color: $white;
  background: $dark-green;

  &::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    background: $dark-green;
    top: -3px;
    transform: rotate(45deg);
    top: 0;
  }

  &--shown {
    display: flex;
  }

  @media (max-width: 1290px) {
    position: static;
    display: flex;
    width: auto;
    padding: 0;
    margin: 0;
    background: none;
    color: $dark-green;
    &::before {
      display: none;
    }
  }
}

.tooltip__button {
  position: relative;
  z-index: 3;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  @media (max-width: 1290px) {
    display: none;
  }
}

.tooltip__item {
  display: flex;
  &:first-child {
    margin-right: 30px;
  }

  @media (max-width: $tablet) {
    align-items: center;
    &:first-child {
      margin-right: 15px;
    }
  }
}
